.wrapper {
padding: 100px 60px;
background: #ffffff;
font-family: "Inter", sans-serif;
}


.heading {
text-align: center;
font-size: 34px;
font-weight: 700;
color: #1f2937;
}


.heading span {
color: #22c55e;
}


.subheading {
text-align: center;
margin-top: 14px;
font-size: 14px;
color: #1b1b1c;
line-height: 1.7;
}


.cards {
    height: 400px;
margin-top: 70px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 36px;
}


.card {
background: #ffffff;
border-radius: 18px;
overflow: hidden;
box-shadow: 0 18px 40px rgba(85, 127, 138, 0.06);
}


.imageWrapper {
height: 220px;
}


.imageWrapper img {
width: 100%;
height: 100%;
object-fit: cover;
}


.meta {
display: flex;
justify-content: space-between;
padding: 16px 20px 0;
font-size: 12px;
color: #3a3a3a;
}


.title {
padding: 14px 20px 26px;
font-size: 16px;
font-weight: 600;
line-height: 1.6;
color: #1f2937;
}