.footer {
  background-color: rgba(74, 22, 189, 1);
  color: #ffffff;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.brand {
  flex: 1;
  max-width: 300px;
}

.logo {
  background: transparent;
  margin-bottom: 1rem;
}

.logo img {
  height: 80px;
  opacity: 1;
}

.desc {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.download {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.storeButtons {
  display: flex;
  gap: 1rem;
}

.store {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.small {
  display: block;
  font-size: 0.8rem;
}

.big {
  display: block;
  font-size: large;
  font-weight: bold;
}

.links h4,
.contact h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.links li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.contact p {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #acacac;
  padding-top: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials svg {
  cursor: pointer;
}