.hero { 
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  background: linear-gradient(
    120deg,
    #5b2dd4 0%,
    #4c3fdc 35%,
    #1f6ae1 70%,
    #1674ea 100%
  );

  color: #ffffff;
}


.left {
  max-width: 55%;
}

.left h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.15;
}

.left h1 span {
  color: #6ee7b7;
}

.subtitle {
  margin-top: 28px;
  font-size: 13px;
  line-height: 1.8;
  letter-spacing: 2px;
  opacity: 0.85;
}

.buttons {
  margin-top: 45px;
  display: flex;
  gap: 18px;
}

.primary {
  background: #ffffff;
  color: #1f6ae1;
  padding: 14px 32px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.secondary {
  background: transparent;
  color: #ffffff;
  padding: 14px 32px;
  border-radius: 10px;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.right {
  position: relative;
  max-width: 40%;

}

.right img {
  left: auto;
  width: 600px;
  height: 600px;
  top: 231px;
  bottom: 0%;
  transform: scaleX(-1);
}


.testimonial {
  position: absolute;
  top: 40px;
  left: -220px;
  max-width: 260px;
  padding-left: 100px;
  border-left: 3px solid #6ee7b7;

}

.testimonial h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

.testimonial p {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.9;
  
}

.stars {
  margin-top: 8px;
  color: #6ee7b7;
  font-size: 14px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .left,
  .right {
    max-width: 100%;
  }

  .testimonial {
    position: static;
    margin-bottom: 20px;
    border-left: none;
    padding-left: 0;
  }
}


@media (max-width: 640px) {
  .left h1 {
    font-size: 42px;
  }

  .buttons {
    flex-direction: column;
  }

  .right img {
    width: 300px;
    margin-top: 30px;
  }
}

