.wrapper {
min-height: 100vh;
padding: 80px 60px;
background: linear-gradient(180deg,  #eaf1ff,#a0f1dd);
font-family: "Inter", sans-serif;
}


.title {
text-align: center;
color: #1db8a0;
font-size: 32px;
font-weight: 700;
}


.subtitle {
text-align: center;
margin-top: 10px;
color: #6b7280;
}


.cards {
margin-top: 60px;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 32px;
}


.card {
background: #ffffff;
border-radius: 20px;
padding: 28px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}


.header {
display: flex;
align-items: center;
gap: 14px;
margin-bottom: 20px;
}


.header img {
width: 48px;
height: 48px;
border-radius: 50%;
}


.header h4 {
margin: 0;
font-size: 16px;
color: #111827;
}


.header span {
font-size: 12px;
color: #3b82f6;
}


.text {
font-size: 14px;
line-height: 1.7;
color: #6b7280;
margin-bottom: 24px;
}


.stars {
display: flex;
gap: 4px;
}


.filled {
color: #fbbf24;
}


.empty {
color: #e5e7eb;
}